.single-input {
    label {
        display: flex !important;
    }
}

.cottom-cart-right-area {
    .mb--20 {
        display: flex !important;
        text-align: start !important;
    }

    ul li label {
        display: flex !important;
    }
}


.popupfullpage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000091;
    top: 0;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        width: 50%;
        padding: 10px;
        background: white;
        border-radius: 9px;
        border: 1px solid green;
        height: auto;
        box-shadow: -5px 1px 10px 10px;
        .text{
        margin: 11px;
        }
    .fields{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        label{
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: start;
        }
        input{
            border: 1px solid #00000059;
            padding: 10px;
            width: 75%;
            border-radius: 10px;
            margin: 11px;
            height: 31px;
        
    }
    .rating i {
        font-size: 24px;
        color: #ccc;
        cursor: pointer;
      }
      
      .rating i.selected {
        color: #ffa500;
      }
    textarea{
        border: 1px solid #00000059;
        padding: 12px;
        width: 75%;
        border-radius: 10px;
        margin: 11px;
        height: 71px;
    }
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin: 11px;
    i {
      font-size: 40px;
      color: #dddcdc;
  
      &:hover {
        color: #f7f70b; /* Change to orange on hover */
      }
    }
  }
  .btn{
    background: #629D23;
    width: 75%;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 25px;
    margin: 11px;
    button{
        font-weight: bold;
        color: white;
    }
  }

    }
    .feedbackText{
        border: 1px solid #00000059;
        padding: 12px;
        width: 53%;
        border-radius: 10px;
        margin: 11px;
        height: 42px;
    }
}







.selected {
    color: #629d23; 
}
.fa-star {
    color: #cfcfcf;
}




