.single-input {
    label {
        display: flex !important;
    }
}

.cottom-cart-right-area {
    .mb--20 {
        display: flex !important;
        text-align: start !important;
    }

    ul li label {
        display: flex !important;
    }
}