.single-input {
    label {
        display: flex !important;
    }
}

.cottom-cart-right-area {
    .mb--20 {
        display: flex !important;
        text-align: start !important;
    }

    ul li label {
        display: flex !important;
    }
}


.popupfullpage {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000091;
    top: 0;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 50%;
        padding: 10px;
        background: white;
        border-radius: 9px;
        border: 1px solid green;
        height: auto;
        box-shadow: -5px 1px 10px 10px;

        .text {
            margin: 11px;
        }

        .fields {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;

            label {
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: start;
            }

            input {
                border: 1px solid #00000059;
                padding: 10px;
                width: 75%;
                border-radius: 10px;
                margin: 11px;
                height: 31px;

            }

            .rating i {
                font-size: 24px;
                color: #ccc;
                cursor: pointer;
            }

            .rating i.selected {
                color: #ffa500;
            }

            textarea {
                border: 1px solid #00000059;
                padding: 12px;
                width: 75%;
                border-radius: 10px;
                margin: 11px;
                height: 71px;
            }
        }

        .rating {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 23px;
            margin: 11px;

            i {
                font-size: 40px;
                color: #dddcdc;

                &:hover {
                    color: #f7f70b;
                    /* Change to orange on hover */
                }
            }
        }

        .btn {
            background: #629D23;
            width: 75%;
            padding: 8px;
            border-radius: 10px;
            font-size: 20px;
            margin-bottom: 25px;
            margin: 11px;

            button {
                font-weight: bold;
                color: white;
            }
        }

    }

    .feedbackText {
        border: 1px solid #00000059;
        padding: 12px;
        width: 53%;
        border-radius: 10px;
        margin: 11px;
        height: 42px;
    }
}







.selected {
    color: #629d23;
}

.fa-star {
    color: #cfcfcf;
}






@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

// body {
//     font-family: 'Overpass', sans-serif;
//     width: 100%;
//     height: 100vh;
//     background: var(--very-dark-blue);
// }
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.rating-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    background: hsl(0deg 0% 100%);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0px 0px 7px grey;
}

.rating-card .rating-card__front,
.rating-card .rating-card__back {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rating-card .rating-card__front .rating-card__img {
    width: 50px;
    height: 50px;
    background: #3e454dc5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.rating-card .rating-card__front .rating-card__content h2,
.rating-card .rating-card__back .rating-card__content h1 {
    color: #629D23;
    font-size: 26px;
    font-weight: 500;
}

.rating-card .rating-card__front .rating-card__content p,
.rating-card .rating-card__back .rating-card__content p {
    color: var(--light-grey);
    line-height: 20px;
    margin-top: 12px;
}

.rating-card .rating-card__front .rating-card__ratings {
    display: flex;
    justify-content: space-between;
}

.rating-card .rating-card__front .rating-card__ratings button {
    background: #3e454dc5;
    border-radius: 50%;
    outline: none;
    border: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--medium-grey);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms linear;
}

.rating-card .rating-card__front .rating-card__ratings button:hover {
    background: var(--light-grey);
    color: white;
}

.rating-card .rating-card__front .rating-card__ratings button:active,
.rating-card .rating-card__front .rating-card__ratings button.active {
    background: hsl(89.02deg 63.54% 37.65%);
    color: white;
}

.rating-card .rating-card__front .rating-card__btn {
    background: hsl(89.02deg 63.54% 37.65%);
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 15px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 600;
    border-radius: 25px;
    transition: all 300ms linear;
}

.rating-card .rating-card__front .rating-card__btn:hover {
    // color: hsl(89.02deg 63.54% 37.65%);
    // background: white;
}

.bg-overlay {
    background: #00000057 !important;
}


.rating-card .rating-card__back {
    display: none;
    align-items: center;
    row-gap: 30px;
}

.rating-card .rating-card__back .rating-card__img {
    display: flex;
    justify-content: center;
}

.rating-card .rating-card__back .rating-card__result {
    text-align: center;
    background: #3e454dc5;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;
    width: fit-content;
    color: hsl(89.02deg 63.54% 37.65%);
}

.rating-card .rating-card__back .rating-card__content h1,
.rating-card .rating-card__back .rating-card__content p {
    text-align: center;
}

.feedback-textarea {
    max-height: 90px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    resize: none;
    /* Prevent resizing */
}