.rts-product-details-section .details-product-area .product-bottom-action {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 18px;
}

.zoom {
    background: none !important;
    width: 400px !important;
}

.zoom img:hover {
    opacity: 1 !important;
}

.cardslide {
    max-width: 300px !important;
}

.cardWrapper {
    gap: 20px !important;
}

.justify-content-flex-start {
    justify-content: flex-start !important;
}