.rts-cart-list-area.wishlist .single-cart-area-list.main .price, .rts-cart-list-area.wishlist .single-cart-area-list.main .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.main .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.main .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.main .product-main-cart {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.main .price, .rts-cart-list-area.wishlist .single-cart-area-list.main .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.main .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.main .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.main .price, .rts-cart-list-area.wishlist .single-cart-area-list.main .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.main .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.main .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.main .price, .rts-cart-list-area.wishlist .single-cart-area-list.main .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.main .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.main .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.head .price, .rts-cart-list-area.wishlist .single-cart-area-list.head .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.head .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.head .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.head .price, .rts-cart-list-area.wishlist .single-cart-area-list.head .quantity, .rts-cart-list-area.wishlist .single-cart-area-list.head .subtotal, .rts-cart-list-area.wishlist .single-cart-area-list.head .button-area {
    flex-basis: 27%;
}
.rts-cart-list-area.wishlist .single-cart-area-list.head .product-main {
    flex-basis: 27%;
}
.quantity{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}